bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
appsettings.Development.json
appsettings.Production.json
.DS_Store
App.config
DragonSpiritsINFight.sln.DotSettings.user
.env
.sqlite
DragonSpiritsINFight/Assets/Media/
TODO.md
